* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: hsl(217, 54%, 11%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  background-color: hsl(216, 50%, 16%);
  margin-left: 350px;
  margin-right: 350px;
  height: auto;
  border-radius: 60px;
}

.content {
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.content img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.main-text {
  margin-top: 10px;
  color: hsl(0, 0%, 100%);
}

.sentence {
  color: hsl(215, 32%, 27%);
  font-size: 18px;
  margin-top: 10px;
}

.etherium {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.eth {
  color: hsl(178, 100%, 50%);
}
hr {
  margin-top: 20px;
  border-style: solid;
  border-bottom: hsl(215, 32%, 27%);
}

.creation {
  display: flex;
  justify-content: space-between;
}

.img-btm img {
  margin-top: 10px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
padding: 5px;}

.text {
  margin-top: 20px;
}
